.inputGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: var(--border-bottom-primary);
}

.inputLabel {
	padding-left: 8px;
	margin-bottom: 8px;
	color: var(--dark-90);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.input {
	border: none;
	height: 40px;
	width: 100%;
	padding-left: 8px;
}

.inputWrapper {
	display: flex;
}
