.page {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.toggleHamburgerLabel {
	position: absolute;
	top: calc(120px / 2);
	left: 24px;
	transform: translateY(-20.5px);
	z-index: 2;
	cursor: pointer;
}

.hamburger {
	width: 30px;
	height: 3px;
	background-color: var(--dark-70);
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.toggleHamburgerInput {
	display: none;

	&:checked {
		& ~ .toggleHamburgerLabel .hamburger:nth-child(2) {
			opacity: 0;
		}
		& ~ .toggleHamburgerLabel .hamburger:nth-child(1) {
			-webkit-transform: translateY(14px) rotate(45deg);
			-ms-transform: translateY(14px) rotate(45deg);
			-o-transform: translateY(14px) rotate(45deg);
			transform: translateY(14px) rotate(45deg);
		}

		& ~ .toggleHamburgerLabel .hamburger:nth-child(3) {
			-webkit-transform: translateY(-8px) rotate(-45deg);
			-ms-transform: translateY(-8px) rotate(-45deg);
			-o-transform: translateY(-8px) rotate(-45deg);
			transform: translateY(-8px) rotate(-45deg);
		}

		& ~ .pageNavbar {
			width: 70vw;
			max-width: 300px;
			transform: scale(1, 1);
			transform-origin: left;
			transition: transform 0.5s ease-in-out;
		}
	}
}

.pageNavbar {
	display: flex;
	flex-direction: column;
	width: 0;
	height: 100%;
	border-radius: 0 25px 25px 0;
	background-color: var(--dark-20);
	transform: scale(0, 1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.pageMain {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	background-color: var(--dark-0);
	border-radius: 25px;
}

.setupPageMain {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 500px;
	height: 100%;
	margin: 0 auto;
	padding: 0 24px;
	background-color: var(--dark-0);
}

.pageTitle {
	height: 120px;
	text-align: center;
	line-height: 120px;
	overflow-x: hidden;
}

.mainSection {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 28px;
	overflow-y: scroll;
}

.pageButton {
	max-width: 400px;
	margin: 32px auto;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
	.toggleHamburgerLabel {
		display: none;
	}

	.pageNavbar {
		width: 40vw;
		max-width: 200px;
		transform: scale(1, 1);
	}
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
	.pageNavbar {
		width: 60vw;
		max-width: 250px;
	}

	.pageTitle {
		height: 100px;
		line-height: 100px;
	}

	.pageButton {
		margin: 24px auto;
	}
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
	.pageNavbar {
		width: 70vw;
	}

	.pageMain {
		padding: 0 48px;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
	.page {
		max-width: 1100px;
		margin: 0 auto;
	}

	.pageMain {
		background-color: var(--dark-0);
		border-radius: 25px;
	}

	body {
		background-color: var(--dark-20);
	}
}
