.billPage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  height: 100%;
	row-gap: 32px;
}

.billDate,
.billTitle,
.localExpense,
.actualExpense,
.rate,
.payer,
.split,
.expenseDistribution {
	grid-column: 1 / 3;
}

@media screen and (min-width: 992px) {
	.billPage {
		column-gap: 24px;
	}

	.billDate,
	.localExpense,
	.rate,
	.payer,
	.expenseDistributionForPayer {
		grid-column: 1 / 2;
	}

	.billTitle,
	.actualExpense,
	.split,
	.expenseDistributionForSplit {
		grid-column: 2 / 3;
	}
}
