.recordItemGroup {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	width: 100%;
	padding-left: 8px;
	border-bottom: var(--border-bottom-primary);

	&:hover {
		background-color: var(--dark-20);
	}
}

.recordItemTitle {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 12px 0 4px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recordItemDate {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	color: var(--dark-80);
	font-size: 12px;
}

.recordItemIcons {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	align-items: center;
	display: flex;
	gap: 16px;
	cursor: pointer;
}
