.ledgerList {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow-y: scroll;
}

.ledgerItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	gap: 8px;
	width: 100%;
	height: 48px;
	padding-left: 8px;
	border-bottom: var(--border-bottom-primary);
	white-space: nowrap;
	overflow-x: scroll;

	&:hover {
		background-color: var(--dark-20);
	}
}

.ledgerItemDebtor,
.ledgerItemCreditor {
	width: 100%;
}

.ledgerItemCreditor {
	display: inherit;
	justify-content: center;
}

.ledgerItemOwe {
	width: 100%;
	color: var(--dark-90);
}

.ledgerItemAmount {
	display: inherit;
	justify-content: flex-end;
	width: 100%;
}

.ledgerItemCurrency {
	display: inherit;
	justify-content: flex-end;
	width: 100%;
  color: var(--dark-90);
}

.emptyContent {
	color: var(--dark-80);
}
