.selectGroup {
	position: relative;
	display: flex;
	flex-direction: column;
}

.selectLabel {
	padding-left: 8px;
	margin-bottom: 8px;
	color: var(--dark-90);
}

.select {
  border: none;
	height: 40px;
	padding-left: 8px;
	border-bottom: 1px solid var(--dark-80);
}