.selectGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.suffixWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	width: 70px;

	&::after {
		content: '\25BE';
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}
}

.selectWrapper {
	position: relative;
	border-bottom: var(--border-bottom-primary);

	&::after {
		content: '\25BE';
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}
}

.selectLabel {
	padding-left: 8px;
	margin-bottom: 8px;
	color: var(--dark-90);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select {
	border: none;
	width: 100%;
	height: 40px;
	padding-left: 8px;
}
