.memberList {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.memberGroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 0 8px;
	font-size: 14px;
	border-bottom: var(--border-bottom-secondary);
	background-color: var(--dark-20);

	&:hover {
		background-color: var(--dark-30);
	}
}

.nameWrapper,
.paymentWrapper {
	display: inherit;
	gap: 8px;
}

.numberInput {
	width: 84px;
	border: none;
	background-color: inherit;
	text-align: right;
	font-size: 14px;
	&::placeholder {
		text-align: end;
	}
}

.unsettled {
	padding-right: 8px;
	text-align: right;
	color: var(--danger-color);
}

.selected {
	background-color: var(--dark-30);
}
